
        table,td{
            border: 1px solid  black;
            border-collapse: collapse;
            width: 400px; /*Se aplica a la tabla*/
            height: 50px;

        }

        tr:nth-child(even)
        td:nth-child(even),

        tr:nth-child(odd)
        td:nth-child(odd){
            background-color: #e2ca8e; 
        }


        tr:nth-child(odd)
        td:nth-child(even),

        tr:nth-child(even)
        td:nth-child(odd){
            background-color: #af6d39;  
     }